body{
	overflow: hidden;
}

button{
	outline: 0;
	border: 0;
}

legend{
	border: none;
}

div.marker{
    text-align:center;
}
div.marker img{
    border:1px solid grey;
    opacity:0.6;
    transition:0.4s opacity;
}
div.marker img:hover{
    opacity:1;
}



.container-fluid{
	padding: 0;
	overflow-y:scroll; 


}

.carousel-inner .item{
	height: 644px;
}

.carousel-inner img{
	width: 100%;
	height:644px;

	
}

.carousel{
	margin-top: 0 !important;
}


#map_canvas{
	height: 644px !important;


}


 .map_canvas{
    background: #ccc;
    width: 100%;
    height: 644px;

}

.map_container{
	overflow: hidden;
	position: relative;

}
 /* --------------------------------------- */
		
		.content{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}

		/* Section 1
		 * --------------------------------------- */
		#section0{
			background-color: #DFDDE1;
		}
		#section0 h1{
			color: #444;
		}
		#section0 p{
			color: #333;
			opacity: 0.4;

		}


		/* Section 2
		 * --------------------------------------- */
		#section1{
			background-color: #DFDDE1;
		}
		#section1 h1{
			color: #fff;
		}
		#section1 p{
			opacity: 0.8;
		}


		/* Section 3
		 * --------------------------------------- */
		#section2{
			background-color: #2C3E50;
		}
		#section2 h1{
			color: #F2F2F2;
		}
		#section2 p{
			opacity: 0.6;
		}

.fp-prev, .fp-next{
	opacity: 0.5;
}

.header-logo{
	position: fixed;
	z-index: 11111;
	width: 100%;
	background: rgba(0,0,0,0.3);
	height: 42px;
	

}

.header-logo img{
	width: 27px;
	margin: 2px;
	
}

.header-logo img {
    position :relative;
    -webkit-animation: mymove 3s; /* Chrome, Safari, Opera */ 
    animation: mymove 3s;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    from  {top: 0px;}
    to {top: 200px;}
   
}

/* Standard syntax */
@keyframes mymove {
	from  {top: -500px;}
    to {top: 0px;}


}

.registration{
	margin: 4px;
	transition: all .8s;

}


.sig-up{
	opacity: 1;
}


.sign-in{
	opacity: 1;
	color: #fff;
	margin: 7px 0;
	cursor: pointer;
}

.sign-close{
	cursor: pointer;
}

.sign-in-inputs label, legend{
	margin:2px;
	color:#fff;
}

.sign-in-inputs input{
	height: 30px;
	border-radius: 1px;
	outline: none;
}

.sign-in-inputs input:focus{
	outline: none;
	border: none;
}

.sidebar-right{
	position: fixed;
	z-index: 111;
	top:0;
	right:-200px;
	width: 200px;
	height: 100%;
	background: rgba(0,0,0,0.8);
	transition: all .8s;
	padding: 4px;
}

.loading{
	display: none !important;
}


.registartion-border{
	border-right: 1px solid #fff;
	margin: 11px 16px 0 9px;
	height: 13px;
}

.fa-bars{
	color: #000;	
	position: fixed;
	z-index: 111;
	left:-7px;
	top:50%;
	cursor: pointer;
	transition: all .8s;
}

/*
canvas{
	 position :absolute;
	 z-index: 111111;

    animation: mymove 5s infinite;
}


@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 0;}
}


@keyframes mymove {
   	0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 250px}
    100% {top: 0;}

}
*/

#map_canvas{
	
}

canvas{

}

.sidebar
{	position: fixed;
	z-index: 111;
	top:0;
	left:-300px;
	width: 300px;
	height: 100%;
	background: #616269;
	transition: all .8s;
	
}



.mapp{
	position: relative;
	transition: all .8s;
}

.menu-open{
	margin-left:300px !important;
}

.sidebar-open{
	left:0;
	transition: all 0.8s ease;
}

.sidebar-right-open{
	right:0;
	transition: all 0.8s ease;
}

.reg-slide{
	margin-right:200px !important;
	transition: all .8s;
}

.gm-style-cc{
	display: none !important;
}

.fp-controlArrow{
	border: none !important;
	opacity: 0.9;
}


.fp-next{
	right: 35px !important;
}

.fp-prev:before{
	 content: "\f104";
    font-family: FontAwesome;
    font-size:55px !important;
    color:#fff;
}

.fp-next:before{
	content: "\f105";
    font-family: FontAwesome;
    font-size:55px !important;
    color:#fff;
}

.zoom-inf{
	color:#000;

}

.fa-search-plus{

}

.marker img{
	padding: 0;
	margin: 0;
}

