body{
	overflow: hidden;
}

button{
	outline: 0;
	border: 0;
	border-radius: 1px !important;
}


p{
	font-family: BPGArial;
}

li{
	list-style: none;
}

.cap-link{
	color:#2F2F2F;
}

.cap-link p{
	color:#000;
}

.cap-link:hover{
	text-decoration: none;
	color:#2F2F2F;
}

h4{
	font-family: ninomtavruli;
	font-weight: bold;
}

figure{
  padding: 0 0 !important;
  height: 90px;
  margin-bottom: 80px;
  

}

.figure-dots{
	  margin-left: 76px;
	  color:rgba(0,0,0,0.3);
}



figure img{
	cursor: pointer;
	box-shadow: 0 8px 11px -8px rgba(0,0,0,0.5)
}

figcaption{
	width: 190px;
	text-align:left;
	float: right;
	
}

figcaption h4{
	margin-top: 6px;
  	
  	margin-bottom: 0px;
  	font-size:14px;
}

figcaption p{
	position: relative;
	  height: 96px;
}

.fa-comment{
	color:#454545;
	font-size: 12px !important;
	
}

.fa-eye{
	font-size: 12px !important;
	color:#454545;

}

.fa-angle-right{
	position: absolute;
	left:0px;
	top: 5px;
}

.dinamic-tabs{

}

.nav-tabs{
	position: fixed;
	top:120px;
	  
	  border-bottom: 0px solid #A4C1DA;
	  width: 360px;
	  	
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
	background: none;
	border:none;
	border-bottom: 4px solid #FF513F;
	color:#FF513F;
	padding-bottom: 4px;
	
}

.nav-tabs>li>a{
	border:none; 
	width: 180px;
	margin-right: 0px;	
}

legend{
	border: none;
}

div.marker{
    text-align:center;
}
div.marker img{
    border:1px solid grey;
    opacity:0.6;
    transition:0.4s opacity;
}
div.marker img:hover{
    opacity:1;
}



.container-fluid{
	padding: 0;
	overflow-y:scroll; 


}

.carousel-inner .item{
	height: 644px;
}

.carousel-inner img{
	width: 100%;
	height:644px;

	
}

.carousel{
	margin-top: 0 !important;
}


#map_canvas{
	height: 800px !important;
	background: #ccc;
    width: 100%;
	box-shadow: 0px 0px 194px -14px rgba(133,133,133,1);
    	-webkit-box-shadow: 0px 0px 194px -14px rgba(133,133,133,1);
			-moz-box-shadow: 0px 0px 194px -14px rgba(133,133,133,1);




}




.map_container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

}
 /* --------------------------------------- */
		
		.content{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}


		/* Section 1
		 * --------------------------------------- */
		#section0{
			background-color: #DFDDE1;
		}
		#section0 h1{
			color: #444;
		}
		#section0 p{
			color: #333;
			opacity: 0.4;

		}


		/* Section 2
		 * --------------------------------------- */
		#section1{
			background-color: #DFDDE1;
		}
		#section1 h1{
			color: #fff;
		}
		#section1 p{
			opacity: 0.8;
		}


		/* Section 3
		 * --------------------------------------- */
		#section2{
			background-color: #2C3E50;
		}
		#section2 h1{
			color: #F2F2F2;
		}
		#section2 p{
			opacity: 0.6;
		}

		.slide{
			background-size: cover;
		}

		#slide1{
		background-image: url(../../assets/img/1.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(../../assets/img/2.jpg);
		padding: 6% 0 0 0;
	}

	#slide3{
		background-image: url(../../assets/img/3.jpg);
		padding: 6% 0 0 0;
	}

	#slide4{
		background-image: url(../../assets/img/4.jpg);
		padding: 6% 0 0 0;
	}

.fp-prev, .fp-next{
	opacity: 0.5;
}

.header-logo{
	position: fixed;
	z-index: 11111;
	width: 100%;
	background: rgba(0,0,0,0.3);
	height: 42px;
	

}

.header-logo img{
	width: 27px;
	margin: 2px;
	
}

.header-logo img {
    position :relative;
    -webkit-animation: mymove 3s; /* Chrome, Safari, Opera */ 
    animation: mymove 3s;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    from  {top: 0px;}
    to {top: 200px;}
   
}

/* Standard syntax */
@keyframes mymove {
	from  {top: -500px;}
    to {top: 0px;}


}

.registration{
	margin: 4px;
	transition: all .8s;

}


.sig-up{
	opacity: 1;
}


.sign-in{
	opacity: 1;
	color: #fff;
	margin: 7px 0;
	cursor: pointer;
}

.sign-close{
	cursor: pointer;
}

.sign-in-inputs label, legend{
	margin:2px;
	color:#fff;
}

.sign-in-inputs input{
	height: 30px;
	background: none;
	background-repeat: no-repeat;
	width: auto; 
	border-radius: 0;
	color:#fff;
	border: none;
	border-bottom: 1px solid #B4B4B4;

}



.sign-in-inputs input:focus{
	border-bottom: 1px solid #fff;
	box-shadow: none;
	outline: 0 none;
	transition: all 0.9s ;
}

.sidebar-right{
	position: fixed;
	z-index: 111;
	top:0px;
	right:-200px;
	width: 200px;
	height: 100%;
	background:#EFEFEF;
	transition: all .8s;
	padding: 4px;
}

.loading{
	display: none !important;
}


.registartion-border{
	border-right: 1px solid #fff;
	margin: 11px 16px 0 9px;
	height: 13px;
}

.fa-bars{
	color: #000;	
	position: fixed;
	z-index: 111;
	left:-7px;
	top:50%;
	cursor: pointer;
	transition: all .8s;
}

/*
canvas{
	 position :absolute;
	 z-index: 111111;

    animation: mymove 5s infinite;
}


@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 0;}
}


@keyframes mymove {
   	0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 250px}
    100% {top: 0;}

}
*/

#map_canvas{
	
}

canvas{

}

.sidebar
{	position: fixed;
	z-index: 111;
	top:45px;
	overflow: hidden;
	padding:119px 5px 0 5px;
	left:-395px;
	width: 395px;
	height: 100%;
	background: #F1F1F1;
	transition: all .8s;
	/*border-right: 1px solid #FF513F;*/

}

       
#min-thumb-size-demo .horizontal .thumb {
    min-width: 300px;
}

#fixed-thumb-size-demo {
    width: 400px;
    height: 200px;
}

/* Vertical and horizontal scrollbar - one extra step required - add width of overview - overall width of scrolled content*/
#fixed-thumb-size-demo .overview {
    width: 600px;
}

/*No scrollbar needed*/
#no-scrollbar-needed {
    max-height: 100px;
    max-width: 400px;
}

.sidebar img{
	float: left;
	width: 170px;
	height: 120px;
	margin-right: 7px;	}

.marker{
	
}

.marker img{
	padding: 0;
	margin: 0px;
}

.modal-header{
	padding: 8px;
	border: none;
}

.modal-body{
	margin: 0;
	padding: 0px;
}

.modal-body img{
	width: 598px;

}

.modal-content{
	border-radius: 1px;
}

.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}


.stars{
	position: absolute;
	right: 5px;
  	  top: 100px;
	
}

.comment-icons{
	position: absolute;
	  top: 97px;
}


.star-rating__wrap{
	display: inline-block;
	font-size: 1.2rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FF513F;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";

}


.mapp{
	position: relative;
	transition: all .8s;
}

.menu-open{
	margin-left:395px !important;
}

.sidebar-open{
	left:0;
	transition: all 0.8s ease;
}

.sidebar-right-open{
	right:0;
	transition: all 0.8s ease;
}

.reg-slide{
	margin-right:200px !important;
	transition: all .8s;
}

.gm-style-cc{
	display: none !important;
}

.fp-controlArrow{
	border: none !important;
	opacity: 0.9;
}


.fp-next{
	right: 35px !important;
}

.fp-prev:before{
	 content: "\f104";
    font-family: FontAwesome;
    font-size:55px !important;
    color:#fff;
}

.fp-next:before{
	content: "\f105";
    font-family: FontAwesome;
    font-size:55px !important;
    color:#fff;
}

.zoom-inf{
	color:#000;

}

.fa-search-plus{

}

.scrollable.default-skin{
	padding-bottom: 0;
}


